<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Insider Test Suite" parallel="false">
    <test name="Functional Tests">
        <classes>
            <class name="tests.functional.NavigateToCareersTest"/>
            <class name="tests.functional.CareersPageFunctionalTest"/>
            <class name="tests.functional.OpenPositionsPageFunctionalTest"/>
            <class name="tests.functional.QualityAssuranceFunctionalTest"/>
        </classes>
    </test>
    <test name="Smoke Tests">
        <classes>
            <class name="tests.smoke.HomePageTest"/>
            <class name="tests.smoke.CareersPageSmokeTest"/>
            <class name="tests.smoke.OpenPositionsPageSmokeTest"/>
            <class name="tests.smoke.QualityAssuranceSmokeTest"/>
        </classes>
    </test>
</suite>
